.detail-section{
    padding-left: 5%;
    padding-right: 5%;
}

.font-icons{
    font-size: 8em !important;
    color: lightgray;
}

.highlight{
    color: rgb(204, 65, 65);
    font-weight: bold;
}

.card p{
    color: rgb(80, 80, 80);
    font-weight: 500;
}

.card-title{
    font-weight: bold;
    font-size: 3em;
}


.about-button{
    background-color: black;
    color: white;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1% ;
    margin-bottom: 20px;
}


